<h1 class= "text-center">Mis Proyectos</h1>
<div class="container mt-5">
    <div class="row">
        <div class="col-md-4">
            <div class="card">
               
                <%= image_tag 'ricomida.png', class:"img-fluid rounded-center w-40"%>
                <div class="card-body">
                    <h5 class="card-title">Ricomida</h5>
                    <p class="card-text">Página Recetas masas de Pizza.</p>
                    <a href="#" class="btn btn-custom">Ver más</a>
                </div>
            </div>
        </div>
        <div class="col-md-4 y-10">
            <div class="card">
                <%= image_tag 'meet.png', class:"img-fluid rounded-center w-40"%>
                <div class="card-body">
                    <h5 class="card-title">Meet & Coffe</h5>
                    <p class="card-text">Charlas sobre tecnología.</p>
                    <a href="#" class="btn btn-custom">Ver más</a>
                </div>
            </div>
        </div>
        <div class="col-md-4">
            <div class="card">
                <%= image_tag 'viajes.png', class:"img-fluid rounded-center w-40"%>
                <div class="card-body">
                    <h5 class="card-title">Viajes Chile</h5>
                    <p class="card-text">Viajes y recomendaciones turisticas por Chile</p>
                    <a href="#" class="btn btn-custom">Ver más</a>
                </div>
            </div>
        </div>
    </div>
</div>
